h1 {
    color: #3e7b27;
    margin-bottom: 1em;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 0.4em;
    cursor: pointer;
}
.hafalan-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    overflow: hidden;
}

.hafalan-table.dataTable th, .hafalan-table.dataTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.dataTable th {
    background-color: #f2f2f2;
}

.dataTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dataTable tr:nth-child(odd) {
    background-color: #fff;
}

.dataTables_filter {
    margin-bottom: 1em;
}
