{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link href="{% static 'main_site/style/base_style.css' %}" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="{% static 'main_site/script/base.js' %}" defer></script>
    </head>
    <body>
        <nav class="sidebar">
            <ul>
                <li>
                    <img src="{% static 'main_site/img/unida_outline.png' %}" alt="logo-unida" class="logo-unida">
                    <button id="toggle-btn" onclick=toggle_sidebar(this)>
                        <i class='bx bxs-chevrons-right'></i>
                    </button>
                </li>
                <li class="active">
                    <a href="/dashboard">
                        <i class='bx bxs-dashboard'></i>
                        <span class="nav-link">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/hafalan">
                        <i class='bx bxs-edit-alt'></i>
                        <span class="nav-link">Hafalan</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout_view' %}">
                        <i class='bx bxs-log-out'></i>
                        <span class="nav-link">Logout</span>
                    </a>
                </li>
            </ul>            
        </nav>

        <main>
            {% block content %}

            {% endblock %}
        </main>
    </body>
</html>
