<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="#" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="#" alt="Logo UNIDA" class="logo-icons">
                <a href="#">Tahfidz UNIDA</a>
            </div>
        </nav>
        {% block content %}
            
        {% endblock %}
    </body>
</html>
