{% extends "main_site/base.html" %}
{% load static %}

{% block title %}Dashboard Tahfidz Mahasiswa{% endblock %}
{% block content %}
    <script>
        const chart_data = {{ chart_data | safe }};
        const chart_data_tahunan = {{ chart_data_tahunan | safe }};
    </script>

    <h1>Dashboard Mahasiswa</h1>
    <div class="tahfidz-chart">
        <canvas class="tahfidz-chart-bar" id="chart_tahfidz_tahunan" role="img" height="600"></canvas>
    </div>
    <div class="tahfidz-chart">
        <canvas class="tahfidz-chart-bar" id="chart_tahfidz" role="img" height="600"></canvas>
    </div>

    <script src="{% static 'main_site/script/dashboard.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script> <!-- Added plugins to make charts -->
{% endblock %}
