{% extends "main_site/base.html" %}
{% load static %}

{% block content %}
    <link href="{% static 'main_site/style/dashboard.css' %}" rel="stylesheet">
    <script>
        const chart_data = {{ chart_data | safe }};
    </script>

    <h1>Dashboard Mahasiswa</h1>
    <div class="tahfidz-chart">
        <canvas class="tahfidz-chart-bar" id="chart_tahfidz" role="img" height="600"></canvas>
    </div>

    <script src="{% static 'main_site/script/dashboard.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script> <!-- Added plugins to make charts -->
{% endblock %}
