{% extends "main_site/login.html" %}
{% block title %}Forgot Password{% endblock %}
{% block form-title %}Forgot Password{% endblock %}
{% block form-content %}
{# type blog: blogs.models.Blog #}

<div class="input-box">
    <input type="email" name="email" value="" placeholder="Email" required>
    <i class='bx bx-envelope'></i>
</div>

{% endblock %}

{% block button-title %}Signup{% endblock %}
{% block login-register %}<p>Already have an account? <a href="/login">Login</a></p>{% endblock %}
