{% extends "main_site/base.html" %}
{% load static %}

{% block title %}Detail Hafalan{% endblock %}

{% block content %}
<link href="{% static 'main_site/style/hafalan.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="{% static 'main_site/script/hafalan.js' %}" defer></script>

<h1>Data Hafalan Mahasiswa</h1>
<br>
<h2>Semua Hafalan</h2>
<table class="hafalan-table" id="hafalan-table">
    <thead>
        <tr>
            <th>Nama Lengkap</th>
            <th>Surah</th>
            <th>Awal Setoran (ayat)</th>
            <th>Akhir Setoran (ayat)</th>
            <th>Tanggal Setoran</th>
            <!-- <th>Waktu Setoran</th> -->
        </tr>
    </thead>
    <tbody>
        {% for hafalan in hafalan_data %}
            <tr>
                <td>{{ hafalan.get_full_name }}</td>
                <td>{{ hafalan.surat }}</td>
                <td>{{ hafalan.ayat_start }}</td>
                <td>{{ hafalan.ayat_end }}</td>
                <td>{{ hafalan.date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
