{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Login Page{% endblock %}</title>
    <link href="{% static 'main_site/style/login.css' %}" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main_site/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main_site/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main_site/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main_site/img/site.webmanifest' %}">
</head>

<body>
    <div class="wrapper">
        <img src="{% static 'main_site/img/unida.png' %}" alt="logo-unida">
        <form method="post" class="form-login">
            {% csrf_token %}
            <h1>{% block form-title %}Tahfidz Login{% endblock %}</h1>
            {% block form-content %}
            <div class="input-box">
                <input type="text" name="username" value="" placeholder="Username" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" value="" placeholder="Password" required>
                <i class='bx bx-lock-alt'></i>
            </div>

            <div class="remember-forgot">
                <div class="remember-check-box">
                    <input type="checkbox" name="remember" value="True" id="remember">
                    <label for="remember">Ingat Saya</label>
                </div>
                <a href="{% url "forgot_password" %}">Lupa Password?</a>
            </div>
            {% endblock %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                {% if message.tags == "error" %}<i class='bx bx-error-alt' style="font-size:20px; margin-right:8px"></i>{% endif %}
                {% if message.tags == "success" %}<i class='bx bx-badge-check' style="font-size:20px; margin-right:8px"></i>{% endif %}
                <span>{{message}}</span>
            </div>
            {% endfor %}
            {% endif %}

            <button type="submit" class="btn">{% block button-title %}Login{% endblock %}</button>
            <div class="login-register">
                {% block login-register %}
                {% endblock %}
            </div>
        </form>
    </div>
</body>

</html>
